<h1> Selected user's Info: <h1>

    <%= render 'shared/userhead', user: @user%>

<h3>Bio: </h3>
<p><%=@user.bio%></p>
<div>
<% posts = @user.recent_posts%>
<%posts.each do |post|%>
    <%= render 'shared/post', post: post%>
    <%end%>
  <%= link_to user_posts_path(@user) do%> 
  <button type='button'>See all posts</button>
</div>
<% end %>