  <div class="navigation">
    <%=link_to "Make new Post", new_post_path %>
    <%= link_to "Edit account", edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path %>  
  </div>